header{
    height: 48px;
    background-color: red;
    display: flex;
    justify-content: space-between;
}

.header-middle{
    margin: 5px 0px;
    
    display: flex;
    justify-content: center;
}
.search-box{
    margin: 0;
    border: 1px solid black;
    border-radius: 3px;
    padding: 0px 10px;
    font-size: 16px;
    flex: 1;
    min-width: 180px;

}


.search-box-button ,
.voice-search-button{
    margin: 0;
    border: 1px solid black;
}
.voice-search-button{
    margin-left: 10px;
    width: 40px;
    border: none;
    border-radius: 20px;
    position: relative;
}
.search-with-voice{
    position:absolute;
    left:-10px;
    bottom: 0px;
}
.header-middle img{
    height: 24px;
    padding: 8px 19px;
}